.list-group-item {
    display: flex;
    align-items: center;
   justify-content: start;

}

.list-group-item img {
    width: 4%; 
    height: 5%;
    margin-right: 2%;
}

.h1{
    margin-bottom: 2%;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.list-group-item:hover img {
    transform: scale(1.1);  /* Увеличивает изображение при наведении */
}

